@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper-button-prev {
  background-color: rgba(71, 71, 71, 0.6);
  color: white !important;
  width: 90px !important;
  height: 90px !important;
  border-radius: 100%;
}
.swiper-button-next {
  background-color: rgba(71, 71, 71, 0.6);
  color: white !important;
  width: 90px !important;
  height: 90px !important;
  border-radius: 100%;
}
